<%- include('./partials/header') %>
  <div class="container-fluid d-flex flex-column align-items-center justify-content-center">

    <!-- Video -->
    <div class="row justify-content-center mb-4">
      <div class="col-12">
        <div class="d-flex justify-content-center" style="margin-top: 20px;">
          <iframe class="video" width="900" height="440" src="https://www.youtube.com/embed/LAUi8pPlcUM"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!-- Part two - Description with Photos -->
    <div class="container">
      <!-- image 1 -->
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center" style="padding: 10px;">
              <img src="/images/img-1.png" alt="Photo 1" class="img-fluid"
                style="max-width: 100%; height: auto; border-radius: 20px;">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
              <div class="mx-auto">
                <p class="text-center">Our website is designed to help GA college students who are struggling with
                  coding or any step in programming</p>
              </div>
            </div>
          </div>
          <!-- image 2 -->
          <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center order-2 order-sm-1 order-md-1"
              style="padding: 10px;">
              <div class="mx-auto">
                <p class="text-center">Students can post their coding-related questions or problems on the website and
                  get help from other students.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center order-1 order-sm-2 order-md-2">
              <img src="/images/img-2.png" alt="Photo 2" class="img-fluid"
                style="max-width: 100%; height: auto; border-radius: 20px;">
            </div>
          </div>
          <!-- image 3 -->
          <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center" style="padding: 10px;">
              <img src="/images/img-3.png" alt="Photo 3" class="img-fluid"
                style="max-width: 100%; height: auto; border-radius: 20px;">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
              <div class="mx-auto">
                <p class="text-center">The website features a chat thread where students can interact and exchange ideas
                  to solve coding problems.</p>
              </div>
            </div>
          </div>
          <!-- image 4 -->
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center order-2 order-sm-1 order-md-1"
              style="padding: 10px;">
              <div class="mx-auto">
                <p class="text-center">Our website aims to foster a collaborative learning environment and help students
                  improve their coding skills.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center  order-1 order-sm-2 order-md-2">
              <img src="/images/img-4.png" alt="Photo 4" class="img-fluid"
                style="max-width: 100%; height: auto; border-radius: 20px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer') %>