<%- include('./partials/header') %>
<div class="container-fluid d-flex flex-column align-items-center justify-content-center">

  <!-- logo -->
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 text-center mb-4">
      <img src="/images/logo-1.png" alt="Logo 1" class="img-fluid">
    </div>
  </div>
  
  <!-- Video -->
  <div class="row justify-content-center mb-4">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <iframe width="810" height="315" src="https://www.youtube.com/embed/LAUi8pPlcUM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <!-- Part two - Description with Photos -->

  <!-- image 1 -->
  <div class="row justify-content-center d-flex justify-content-center align-items-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="row mb-4">
        <div class="col-lg-6 col-md-10 col-sm-12">
          <img src="/images/img-1.png" alt="Photo 1" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-10 col-sm-12">
          <p>Our website is designed to help GA college students who are struggling with coding or any step in programming</p>
        </div>
      </div>
  <!-- image 2 -->
      <div class="row mb-4">
        <div class="col-lg-6 col-md-10 col-sm-12">
          <img src="/images/img-1.png" alt="Photo 1" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-10 col-sm-12">
          <p>Students can post their coding-related questions or problems on the website and get help from other students.</p>
        </div>
      </div>
  <!-- image 3 -->
      <div class="row mb-4">
        <div class="col-lg-6 col-md-10 col-sm-12">
          <img src="/images/img-1.png" alt="Photo 1" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-10 col-sm-12">
          <p>The website features a chat thread where students can interact and exchange ideas to solve coding problems.</p>
        </div>
      </div>
  <!-- image 4 -->
      <div class="row">
        <div class="col-lg-6 col-md-10 col-sm-12">
          <img src="/images/img-1.png" alt="Photo 1" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-10 col-sm-12">
          <p>Our website aims to foster a collaborative learning environment and help students improve their coding skills.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>

