body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

.logo img {
  width: 80%;
  max-width: 200px;
  margin: 5%;
}

/* home page text */
.text-center {
  color: #FB8500;
  font-size: 18px;
  font-weight: bold;
  box-shadow: rgba(2, 22, 97, 0.24) 5px 6px 5px 5px;
  padding: 10px;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  color: aliceblue;
  font-weight: 200;
}

.card {
  width: 190px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.card2 {
  width: 190px;
  height: 254px;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: all .2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

/*----- NAVIGATION BAR - ALI HAJI -----*/

nav {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .4);
}

.navUserImg {
  height: 40px;
}

.nav-name {
  color: white;
}

.navigation-profile {
  margin-left: auto;
  position: absolute;
  right: 150px;
}

.navigation-login {
  right: 150px;
}

.small-logo {
    width: 300px;
    float: left;
    margin-right: auto;
    margin-left: auto;
}

/*--- WAVE BUTTON - ALI HAJI ---*/

.wave-btn {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  overflow: hidden;

}

.wave-btn span {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
}

.wave-btn .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 270px;
  height: 200px;
  background: #0275d8;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

.wave-btn .liquid::after,
.wave-btn .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.wave-btn .liquid::before {

  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.wave-btn .liquid::after {

  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

.wave-btn:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/*--- LOGIN BUTTON - ALI HAJI ---*/

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*----- DELETE BUTTON - ALI HAJI -----*/

.button-delete {
  align-items: center;
  background-clip: padding-box;
  background-color: #d92232;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-delete:hover,
.button-delete:focus {
  background-color: #f03949;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-delete:hover {
  transform: translateY(-1px);
}

.button-delete:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*----- EDIT BUTTON - ALI HAJI -----*/

.button-edit {
  align-items: center;
  background-clip: padding-box;
  background-color: #0275d8;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-edit:hover,
.button-edit:focus {
  background-color: #219EBC;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-edit:hover {
  transform: translateY(-1px);
}

.button-edit:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*--- COHORT AND TYPE BUTTONS/LABELS - ALI HAJI ---*/

.button-34 {
  background: #0275d8;
  border-radius: 999px;
  box-shadow: #0275d8 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button-35 {
  background: #fa6400;
  border-radius: 999px;
  box-shadow: #fa6400 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}




/*----- THREADS PAGE - ALI HAJI -----*/

.thread-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 10px 30px;
}

.thread-contatiner-type {
  width: 100px;
}

.threads-header h1 {
  color: #023047;
}

.thread-cohort {
  border-radius: 10px;
  padding: 3px 15px;
  height: 35px;
  margin-right: 15px;
  min-width: auto;
  margin-bottom: 10px;

}

.thread-type {
  border-radius: 10px;
  padding: 3px 15px;
  height: 35px;
  margin-right: 15px;
  min-width: auto;
}

.threads-filter {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 10px;
  padding: 10px 30px;
  width: 100%;
}

.threads-select-label {
  font-weight: bold;
  margin-bottom: 8px;
}

.thread-title {
  text-decoration: none;
  font-size: 30px;
  color: #0275d8;
  margin-bottom: 20px;
}

.thread-title:hover {
  color: #023047;
  transition: 0.5s ease-in-out color;
}

.thread-avatar {
  height: 50px;
  border-radius: .4rem;
  margin-right: 20px;
}

.thread-author {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #023047;
}

.thread-createdAt {
  color: gray;
}

.thread-info {
  margin-bottom: 30px;
}

.thread-description {
  font-size: 18px;
  color: #023047;
  margin-bottom: 30px;
}

.thread-submit {
  width: 100%;
  margin-top: 20px;
}

.thread-new-header {
  color: #023047;
  margin-top: 15px;
  margin-bottom: 30px;
}

.add-img {
  height: 80vh;
  position: absolute;
  left: 0;
  z-index: 1;

}

.thread-new-image {
  margin-right: 30px;
}

.thread-new-form {
  z-index: 2;
}

@media (max-width: 1199px) {
  .thread-show-content {
    padding-left: 70px;
    padding-right: 70px;
  }

  .thread-new-image {
    display: none;
  }

  .thread-cohort {
    font-size: 14px;
  }

  .thread-type {
    font-size: 14px;
  }
  .replies-text{
    color: #023047;
  }
  .comment-text{
    color: #023047;
  }
}

/*------ THREADS SHOW PAGE - ALI HAJI -----*/

.thread-show-title {
  font-size: 30px;
  color: #023047;
  display: flex;
  justify-content: center
}

.thread-show-content {
  font-size: 1.25em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
  text-align: justify;
  text-justify: inter-word;
}

@media (min-width: 1200px) {
  .thread-show-content {
    padding-left: 70px;
    padding-right: 70px;
  }

  .thread-comment-status {
    display: flex;
    justify-content: center;
    color: #023047;
    font-size: 20px;
  }

  .comments-container {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .replies-container {
    margin-left: 100px;
    margin-right: 100px;
  }

  .comments-input {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: yellow;
    margin-top: 20px;
    margin-bottom: 20px
  }

  .comment-text {
    color: #023047;
    font-size: 16px;
  }

  .replies-text {
    color: #023047;
    font-size: 16px;
  }

  .comment-write {
    text-align: center;
  }
}

/* ----- SCROLL BAR - RASHID -----*/

.scroll-snap-card {
  height: 100%;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow: auto;
  border-radius: 10px;
}

.scroll-snap-card .slide {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-snap-card .slide p {
  font-size: 1em;
  color: white;
  font-weight: 700;
}

/* leaderbord page Rashid */

.scroll-snap-card {
  height: 85vh;
  /* min-height: 100%; */
}


.container-fluid {
  background-color: #ffffff;
}


.textContainer {
  color: white;
  font-weight: 700;
  width: fit-content;
  gap: 0;

}

.card {
  width: 210px;
  height: 280px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition-duration: .5s;
}

.profileImage {
  background: linear-gradient(to right, rgb(54, 54, 54), rgb(32, 32, 32));
  margin-top: 20px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.textContainer {
  width: 100%;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  letter-spacing: 0.5px;
}

.Replies {
  color: #000;
}

.profile {
  font-size: 0.84em;
  color: rgb(0, 0, 0);
  letter-spacing: 0.2px;
}

.card:hover {
  background-color: #fa6400;
  transition-duration: .5s;
}

.card-body {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 11px;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.scroll-snap-card {
  max-width: 1200px;
  margin: auto;
}

.table-responsive {
  overflow-x: auto;
}

.dataTablesCard {
  width: 100%;
}

.dataTablesCard thead {
  background-color: #0275d8;
  color: #8ECAE6;
  padding-top: 60px;
  padding-bottom: 60px;
}

.dataTablesCard tbody tr {
  background-color: #ffffff;
  color: #8ECAE6; 
}

.dataTablesCard tbody tr:nth-child(even) {
  background-color: #8ECAE6;
}

.dataTablesCard tbody tr:not(:last-child) {
  border-bottom: 1px solid #8ECAE6;
}

#profile {
  background-color: #0275d8;
  /* background-image: url("/images/bg-1.png");
  background-size: cover; */
}