<%- include('../partials/header') %>

<div class="scroll-snap-card">
  <div class="slide red">
      <p class="tip">Scroll On Me</p>
  </div>
  <div class="slide blue">
      <p class="tip">Scroll On Me</p>
  </div>
  <div class="slide green">
      <p class="tip">Scroll On Me</p>
  </div>
</div>

  <%- include('../partials/footer') %>