<%- include('../partials/header') %>
  <div id="thread-view" v-cloak>
    <div class="container pt-5 pb-5">
      <h1>
        <%= thread.title %>
      </h1>
      <hr>
      <div class="thread-container d-flex flex-row mb-4">
        <div class="thread-container-type d-flex flex-column mr-3">
          <span>Cohort</span>
          <span>Type</span>
          <span>Status</span>
        </div>
        <div class="thread-container-content">
          <h5>
          </h5>
          <h6>Username | Date</h6>
        </div>
      </div>
      <p>(See also <em>assets/styles/pages/thread-view.less</em>, <em>assets/js/pages/thread-view.page.js</em>, and
        <em>api/controllers/view-thread-view.js</em>.)
      </p>
    </div>
  </div>
  <%- include('../partials/footer') %>