<%- include('../partials/header') %>
<div id="thread-view" v-cloak>
    <div class="container pt-5 pb-5">
      <h1>Add a new Thread</h1>
      <hr>
        
    <form action="/threads/:id" method="post">
        <label for="fname">Thread Title:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Brief Description:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="lname">Content:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="cohort">Cohort:</label>

        <select name="cohort" id="cohorts">
            <option value="General">General</option>
            <option value="SEI">Software Engineering Immersive</option>
            <option value="DAI">Data Analytics</option>
            <option value="UI/UX">User Interface / User Experience</option>
        </select>

        <input type="submit" value="Submit">
    </form>
    </div>
  </div>
  <%- include('../partials/footer') %>