<%- include('../partials/header') %>
  <div id="thread-view" v-cloak>
    <div class="container pt-5 pb-5">
      <h1>Add a new Thread</h1>
      <hr>

      <form action="/threads" method="post">
        <label for="title">Thread Title:</label>
        <input type="text" id="fname" name="title"><br><br>
        <label for="briefDescription">Brief Description:</label>
        <input type="text" id="lname" name="briefDescription"><br><br>
        <label for="content">Content:</label>
        <input type="text" id="lname" name="content"><br><br>
        <label for="cohort">Cohort:</label>

        <select name="cohort" id="cohorts">
          <option value="General">General</option>
          <option value="SEI">Software Engineering Immersive</option>
          <option value="DAI">Data Analytics</option>
          <option value="UI/UX">User Interface / User Experience</option>
        </select>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <%- include('../partials/footer') %>